<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Hello Node!</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />  
    <script src="/public/wasm_exec.js"></script>
    <script src="/public/webgl-debug.js"></script>
    <script>
        const go = new Go();
        WebAssembly.instantiateStreaming(fetch("{{wasmUrl}}"), go.importObject).then((result) => {
            go.run(result.instance);
        }).catch((err) => {
            console.error('WASM loading failed:', err);
        });
    </script>
  </head>
  <body>
        <div id="loading">Loading WASM...</div>
  </body>
</html>
