<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Hello Node!</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />  
    <script src="/public/wasm_exec.js"></script>
    <script src="/public/webgl-debug.js"></script>
    <script>
        WebAssembly.instantiateStreaming(fetch("https://cdn.glitch.me/60241d7c-2c8f-4150-87a5-0b0e7286262a/gotranslate.wasm?v=1734965890323"), go.importObject)
    </script>
  </head>
  <body>
        <div id="loading">Loading WASM...</div>
  </body>
</html>
